@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

.link {
    @apply text-orange-400;
}

.link:hover {
    text-decoration: underline;
}

ul.disc {
    @apply list-disc list-inside;
}

h1 {
    @apply text-lg;
}

.nav-link {
    @apply text-gray-700 px-3 py-2 rounded-md text-sm font-medium;
}
.nav-link.mobile {
    @apply text-gray-700 block px-3 py-2 rounded-md text-base font-medium
}
.nav-link:hover {
    @apply bg-gray-50 text-gray-700;
}

.form {
    @apply mt-1 block w-full shadow-sm border-gray-300 rounded-md
}
.form:focus {
    @apply ring-orange-500 border-orange-500 border;
}
.btn {
    @apply rounded px-2 py-1;
}
.btn-primary {
    @apply bg-orange-500 text-white;
}
.btn-primary:hover {
    @apply bg-orange-400;
}
.btn-primary:focus {
    @apply bg-orange-500;
}
.btn-secondary {
    @apply bg-gray-800 text-white;
}
.btn-secondary:hover {
    @apply bg-gray-700;
}
.btn-secondary:focus {
    @apply bg-gray-900;
}

.btn-light {
    @apply bg-gray-100 text-gray-900;
}
.btn-light:hover {
    @apply bg-gray-200;
}

.btn-small {
    @apply text-xs;
}

.table {
    @apply min-w-full divide-y divide-gray-200;
}
.table-condensed {
    @apply min-w-full divide-y divide-gray-200 text-sm;
}
.table thead {
    @apply bg-gray-50;
}
.table-condensed thead {
    @apply bg-gray-50;
}
.table th {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}
.table-condensed th {
    @apply px-2 py-1 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
}
.table tbody {
    @apply bg-white divide-y divide-gray-200;
}
.table-condensed tbody {
    @apply bg-white divide-y divide-gray-200;
}
.table td {
    @apply px-6 py-4;
}
.table-condensed td {
    @apply px-2 py-1;
}

.table tbody>tr:hover {
    @apply bg-gray-50;
}
.table-condensed tbody>tr:hover {
    @apply bg-gray-50;
}
:root {
    --tooltip-text-color: white;
    --tooltip-background-color: black;
    --tooltip-margin: 30px;
    --tooltip-arrow-size: 6px;
}

/* Absolute positioning */
.tooltip {
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    color: var(--tooltip-text-color);
    background: var(--tooltip-background-color);
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1;
    z-index: 100;
    white-space: nowrap;
}

/* CSS border triangles */
.tooltip::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: var(--tooltip-arrow-size);
    margin-left: calc(var(--tooltip-arrow-size) * -1);
}

/* Absolute positioning */
.tooltip.top {
    top: calc(var(--tooltip-margin) * -1);
}
/* CSS border triangles */
.tooltip.top::before {
    top: 100%;
    border-top-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.tooltip.right {
    left: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.tooltip.right::before {
    left: calc(var(--tooltip-arrow-size) * -1);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.tooltip.bottom {
    bottom: calc(var(--tooltip-margin) * -1);
}
/* CSS border triangles */
.tooltip.bottom::before {
    bottom: 100%;
    border-bottom-color: var(--tooltip-background-color);
}

/* Absolute positioning */
.tooltip.left {
    left: auto;
    right: calc(100% + var(--tooltip-margin));
    top: 50%;
    transform: translateX(0) translateY(-50%);
}
/* CSS border triangles */
.tooltip.left::before {
    left: auto;
    right: calc(var(--tooltip-arrow-size) * -2);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-left-color: var(--tooltip-background-color);
}

.map-container-small {
    height: 400px;
}

.map-container-large {
    height: 600px;
}

.map-container-xl {
    height: calc(100vh - 200px);
}

.map-container-full {
    height: calc(100vh - 4rem);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #A1A1AA #F4F4F5;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5rem;
}

*::-webkit-scrollbar-track {
    background: #F4F4F5;
}

*::-webkit-scrollbar-thumb {
    background-color: #A1A1AA;
    border-radius: 0.5rem;
    border: 1px solid #F4F4F5;
}

.ribbon {
    width: 200px;
    padding: 16px;
    z-index: 20;
    @apply absolute text-center text-white bg-orange-500 cursor-pointer;
}

.ribbon-sticky {
    position: fixed;
}

.ribbon-top    { top: 25px; }
.ribbon-bottom { bottom: 25px; }
.ribbon-left   { left: -50px; }
.ribbon-right  { right: -50px; }

.ribbon-bottom.ribbon-right {
    transform: rotate(-45deg);
}
