* {
  scrollbar-width: thin;
  scrollbar-color: #a1a1aa #f4f4f5;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  background: #f4f4f5;
}

*::-webkit-scrollbar-thumb {
  background-color: #a1a1aa;
  border-radius: 0.5rem;
  border: 1px solid #f4f4f5;
}

.map-container-small {
  height: 400px;
}

.map-container-large {
  height: 600px;
}

.map-container-xl {
  height: calc(100vh - 200px);
}

.map-container-full {
  height: calc(100vh - 115px);
}

.maplibregl-map {
  border-radius: 8px;
}

.table-wrp {
  max-height: 60vh;
  overflow-y: auto;
  display: block;
}

.text-1xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.map-data {
  max-height: calc(100vh - 20rem);
}

.map-data-content {
  max-height: calc(100vh - 25rem);
}
